*{
text-align: center;
}
body{
    text-align: center;

}
body{
    margin: auto;
    width: 640px;
    padding: 50px;
}
img {
    width: 50px;
    height: auto;
    position: absolute;
    left: 10px;
    top: 10px;

}